@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Avenir Next', 'Helvetica', sans-serif;
    list-style: none;
}

.gh {
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 1.8rem;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(../images/download.svg);
}

/* remove auto margin  */

.fp-viewing-firstPage,
.fp-viewing-secondPage,
.fp-viewing-thirdPage,
.fp-viewing-fourthPage,
.fp-viewing-2,
.fp-viewing-3 {
    margin: 0;
}


.section .fp-section .fp-table .active .fp-completely {
    position: relative;
}


header {
    height: 4.5rem;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    background: white;
}

#main-link {
    margin: auto;
}

.header .header-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.logo {
    text-decoration: none;
    padding: 20px;
    background: black;
    position: absolute;
    margin-left: 65px;
    color: #43c13e;
    font-size: 2em;
    font-family: 'VT323', monospace;
}

.text-box {
    width: 100%;
    position: relative;
    display: contents;
}

.svg-home {
    background: url("../images/home.svg") 50% no-repeat;
    width: 25px;
}

.header-nav {
    position: relative;
    color: #000;
    text-transform: capitalize;
    display: block;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    font-size: 1.6rem;
    font-family: AvenirNextLTPro-Medium, sans-serif;
    width: inherit;

}

.wrapper {
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;
    position: relative;
}

.inner-wrapper {
    position: relative;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.2em;
    color: #000;
    margin: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
    /* -webkit-font-smoothing: antialiased; */
}


#menu {
    right: 0;
    height: 100vh;
    z-index: 4;
}

#menu .menu-inner {
    left: 93%;
    height: 100%;
    background: rgba(0, 0, 0, .06);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translate(-40px);
    -ms-transform: translate(-40px);
    -o-transform: translate(-40px);
    transform: translate(-40px);
}

#menu,
#menu .menu-inner {
    position: absolute;
    height: 85vh;
    width: 309px;
    overflow: hidden;

}

.menu-nav li a h4:nth-child(3) {
    margin-left: 7em;
    width: auto;
}



#menu .menu-inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 65px;
    right: 0;
    bottom: 0;
    background: #000;
}


#menu .menu-inner:hover {
    position: absolute;
    top: 0;
    width: 320px;
    overflow: hidden;
}

#menu:hover .menu-inner {
    transform: translate(-240px);
}

.menu-nav {
    position: fixed;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-nav li {
    width: 100%;
    height: 40px;
}

.menu-nav li a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 75px;
}

.menu-nav li a h4 {
    text-align: center;
    margin: auto;
    float: left;
    height: 100%;
    font: normal normal normal 14px/42px AvenirNextLTPro-Medium, helvetica neue, helvetica, sans-serif;
    width: 30px;
    height: 30px;
    margin-left: 15px;

}



#particles-js {
    position: fixed;
    display: contents;
    widows: 1080px;

    height: 900px;
}




.greeting {
    position: absolute;
    font-size: 3em;

}

.intro {
    display: contents;
}



#typing,
#typing-2 {
    color: #edededbd;
    text-shadow: 4px 3px 0px #9c50ac;
}

.greeting h1:nth-child(1) {
    background: black;
    font-size: 3em;
    letter-spacing: .15em;
    margin-top: 0.4em;
    padding: 50px;
}

.greeting h1:nth-child(2) {
    font-size: 2em;
    border: 1px solid;
    background: #252238;
}

.typing h1 {
    position: absolute;
    margin: 0 auto;
    color: rgb(19, 178, 34);
    background: #020202;
    font-family: 'Fira Code', monospace;
    font-size: 3em;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1em;
    letter-spacing: .15em;
    animation: animated-text 2s steps(30, end) 1s 1 normal both
}

#typing {

    background: linear-gradient(0deg, rgba(35, 33, 55, 1) 0%, rgba(13, 0, 20, 0.68) 61%, rgb(38, 33, 55) 100%);
    border-radius: 15px 15px 0px 0px;
}


#parent {
    border-top: 2px solid #9c50ac;
    border-radius: 0px 0px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'VT323', monospace;
    font-size: 1em;
    color: rgb(51, 141, 47);
    margin-top: 0rem;
    background: black;
    position: absolute;
    padding: 0.3em;
    letter-spacing: 6.1px;

}

.parent-box {
    height: 1rem;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}





#parent::first-letter {
    color: white;
    font-family: 'VT323', monospace;
}

#border {
    border-bottom: solid 3px rgba(0, 255, 0, .75);
    position: absolute;
    right: -7px;
    width: 20px;
}

/* Animation */
#parent {
    animation: animated-text 2s steps(20, end) 1s 1 normal both;
}



#border {
    animation: animated-cursor 600ms steps(30, end) 35;
}




.background {
    content: "";
    background: black;
    width: auto;
    height: 64px;
    position: absolute;
}

/* first page */

.first-page {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: rgb(107, 183, 122); */
    background: url(/images/sunset.jpg);
    background-repeat: round;
    box-shadow: #7f9eff 0.9em 1em 0em;
}

/* pages heights */

.first-page,
.second-page,
.third-page,
.fourth-page,
#first,
#second,
#third {
    height: 85%;
}


/* second page style */

.second-page {
    display: grid;
    position: relative;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(7, 2fr);
    align-items: center;
    margin-bottom: 0;
    background-color: #8991ca;
    background-color: #8991ca;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='0.18'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    box-shadow: aquamarine 0.9em 0.9em 0em;
    overflow: hidden;
}

.third-page {
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #89cac1;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f8f5fc' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: flex;
    box-shadow: #7f9eff 0.9em 0.9em 0em;
}

.fourth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 0;
    background-color: #6c63ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.18' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    box-shadow: aquamarine 0.9em 0.9em 0em;
}

.mail {
    position: absolute;
    font-size: 4em;
    background: black;
    color: white;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 5px 5px 2px rgb(90, 84, 192);
}

#flashMessage {
    color: white;
    background-color: #64ce83;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    position: absolute;
    top: 0;
    font-size: 2em;
}



.card {
    /* width: 15%; */
    width: 25%;
    /* height: 43vh; */
    background: #fffffff0;
    margin: auto;
    padding: 10em 3em;
    box-shadow: 0 2px 5px -2px rgb(0 0 0);
    border-radius: 15px;
    position: relative;
    box-shadow: #7fffd4e3 0.9em 0.9em 0em;
    margin-left: 4vh;
}


.image {
    grid-column: 3 / 14;
    grid-row: 1 / 11;
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: -4.4rem;
}

.description {
    grid-column: 7 / 13;
    position: absolute;
    z-index: 10;
    padding: 3vw;
    box-shadow: rgba(0, 0, 32, 0.27) 10px 10px 90px;
    width: auto;
    background-color: #fff;
    text-align: center;
    font-size: 1.3em;
    border-radius: 15px;
    margin: 0em 1em;
}


.skill-bar {
    width: 100%;
    background: #59c379;
    position: absolute;
    left: 0;
    margin-top: -10em;
    border-radius: 15px 15px 0px 0px;
}

.skill-bar h1 {
    color: rgba(255, 255, 255, 0.892);
    padding: 10px;
}

.card {
    width: 26.3%;
}

.skill-list {
    font-size: 2.5em;
    width: auto;

    text-align: center;
    left: 0;
    right: 0;
    top: 2em;
}


#svg-second-page {
    height: 70vh;
    object-fit: cover;
    box-shadow: rgba(42, 42, 42, 0.49) 10px 10px 90px;
    background-color: #a3416a;
    margin-top: 51px;
    padding: 16px;
    border-radius: 15px;
}




/* text animation */

@keyframes animated-text {
    from {
        width: 2.575rem;
    }

    to {
        width: 34.2rem;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-bottom-color: rgba(0, 255, 0, .75);
    }

    to {
        border-bottom-color: transparent;
    }
}



p.menu  {
    text-align: right;
}



label{
  margin-top: 30px;
  display: block;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
}

input, textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #cdcfcf;
    margin-top:5px;
    padding: 10px;
    color: #333;
    background-color: #f6f8f8;
}

textarea {
    height: 200px;
}

button {
  background: #6388a4;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  padding: 15px 30px;
  cursor: pointer;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
}

.form-title{
  text-transform: uppercase;

}

.blogNewPost{
  float: left;
  width: 31%;
}

.icon {
    position: absolute;
    float: left;
    display: flex;
    width: 1.1em;
    left: 1em;
   }
   




/* ================================= 
  Media Queries
==================================== */

@media (max-width: 769px) {


    * {
        box-sizing: border-box;
        font-family: 'Avenir Next', 'Helvetica', sans-serif;
        list-style: none;
    }

    #menu {
        display: none;
    }

    .first-page {
        background-color: rgb(107, 183, 122);
        background-repeat: inherit;
    }

    .intro {
        display: flex;
        position: relative;
        width: 100%;
    }

    .greeting {
        position: absolute;
        font-size: 4vw;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header {
        height: 3.7rem;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 5;
        color: black;
        text-decoration: none;
        margin: 0 auto;
        display: flex;
        position: relative;
        background: white;
    }

    .first-page,
    .second-page,
    .third-page,
    .fourth-page,
    #first,
    #second,
    #third {
        height: 85%;
    }


    #first {
        height: 736px;
        position: inherit;
    }

    #first>div:nth-child(1) {
        height: 736px;
        position: relative;
    }

    .logo {
        margin-left: 0px;
        height: 2.5em;
    }

    #typing {
        border-radius: 0;
    }

    #typing-2 {
        border-radius: 0;
    }

    .greeting h1:nth-child(1) {
        margin-top: 0;
    }

    .greeting h1:nth-child(1) {
        letter-spacing: 0em;
    }

    .greeting {
        font-size: 8vw;
    }

    #parent {
        font-size: 1.2em;
        margin-top: -0.1rem;
        padding: 0em;
        letter-spacing: 0px;
    }

    @keyframes animated-text {
        from {
            width: 1.275rem;
        }

        to {
            width: 100%;
        }
    }

    .logo {
        height: 2.5em;
        font-size: 1.5em;
    }

    .description {
        grid-column: 1 / 16;
        padding-left: 2rem;
        margin: 0em 1em;
        font-size: 1em;
    }

    .gh {
        top: 0.8rem;
        float: right;
        margin: auto;
    }

    .image {
        grid-column: 1 / 14;
    }

    #main-link {
        display: none;
    }

    .card {
        width: auto;
        padding: 10em 13em 6em 15em;
        margin-left: auto;
    }

    .third-page {
        font-size: 0.4em;
        flex-direction: column;
    }
    .blogNewPost{
        float: left;
        width: 85%;
      }
}